<div class="container">
  <div class="row">
    <div class="col-md">
      <figure id="quantityResultTraditional"></figure>
      <figure id="quantityResultRevancha"></figure>
      <figure id="quantityBalotaTraditional"></figure>
      <figure id="quantityBalotaRevancha"></figure>
    </div>
    <div class="col-md">
      <figure id="sinceLastResultsTraditional"></figure>
      <figure id="sinceLastResultsRevancha"></figure>
      <figure id="sinceLastBalotaTraditional"></figure>
      <figure id="sinceLastBalotaRevancha"></figure>
    </div>
  </div>
</div>
